# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/

# Local virtual environments
**/.venv/
**/venv/

# Node
**/node_modules/
**/dist/

# IDE and VCS
.git/
.vscode/
.idea/

# Local env files
**/.env
